# Dependencies
node_modules/

# Build
hermes-backend/target/
hermes-frontend/dist/

# IDE
.idea/
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Env
.env
application-*.yml

# Hadoop temp (if any local)
hadoop-*/
